@import "variaveis";

:host {
  display: flex;
  justify-content: space-between;

  ::-webkit-scrollbar {
    width: 7px;

    &-thumb {
      background-color: rgba($cor-primaria, 0.2);
    }

    &-track {
      background-color: transparent;
    }
  }

  .minhas-musicas {
    padding: 0px 50px;
    padding-bottom: 20px;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;

    .table {
      width: 100%;
      text-align: left;
      table-layout: fixed;
      border-collapse: collapse;

      .play {
        color: $cor-primaria;
        font-size: 0.6rem;
      }

      thead th {
        font-size: 0.75rem;
        font-weight: 600;
        color: $preto;
      }

      th,
      td {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*Seleciona o primeirom item */
        &:nth-child(1) {
          padding-left: 10px;
        }
      }

      tr {
        &:hover {
          cursor: pointer;
          td {
            transition: 0.6s;
            color: $cor-primaria;
          }
        }

        td {
          padding: 10px 20px 10px 0px;
          margin-top: 10px;
          font-weight: 500;
          font-size: 0.85rem;
          color: $preto;
          &:nth-child(1) {
            padding-left: 10px;
          }
        }
      }

      .w {
        @for $i from 1 to 11 {
          $width: $i * 5;
          &-#{$width} {
            width: #{$width * 1%};
          }
        }
      }

      .exec {
        background-color: $branco;
        padding: 10px;
        box-shadow: 0px 0px 15px $preto;
        td {
          color: $cor-primaria;
        }
      }
    }
  }

  .painel-direito {
    height: 100vh;
  }
}
