@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@import "variaveis.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;
  &-center {
    justify-content: center;
    align-items: center;
  }
}

.titulo {
  color: $cor-primaria;
  display: block;
  font-weight: 700;
  &-bg {
    @extend .titulo; //Copia os dados do pai para o filho
    font-size: 2.2rem;
  }
  &-md {
    @extend .titulo;
    font-size: 1.4rem;
  }
}

.mt {
  //faz um loop para pegar as posições de medidas em VH
  @for $i from 1 to 11 {
    &-#{$i} {
      margin-top: #{$i}vh;
    }
  }
}

.card {
  box-shadow: 0px 0px 15px #00000012;
  background-color: $branco;
  border-radius: 10px;
}

.pd {
  @for $i from 1 to 51 {
    &-#{$i} {
      padding: #{$i}px;
    }
  }
}
